@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section-custom {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px); /* move right*/
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 2s ease forwards;
}

/* Animation for cursor blinking */
@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  border-right: 1px solid;
  width: 0;
}

.word-una {
  color: #f1c263d1;
}

.word-empresa {
  color: #f1c263d1;
}
@keyframes blink-caret {
  from,
  to {
    border-color: #fff;
  }
  50% {
    border-color: white;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.logo-section {
  padding-top: 80px;
}

.group span {
  background-color: #d1d5db;
  width: 50px;
  height: 50px;
}

/* menu burger open */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menuSlideDown {
  animation: slideDown 1s ease forwards;
}

/* image transition */
@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-15%);
    opacity: 1;
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-in {
  animation: bounceIn 1.5s ease-out forwards;
}

@keyframes zoomInSlide {
  0% {
    transform: scale(0.8) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: scale(1.2) translateY(0);
    opacity: 1;
  }
}

.zoom-in-slide {
  animation: zoomInSlide 0.8s ease-out forwards;
}

/* effect testimonials */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 2s ease forwards;
}
